body{
  background-color: antiquewhite;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 50px;
}
p {
  text-align: center;
  font-size: 30px;
}
img {
    max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border: 10px solid #f4f4f4;
}
#img-caption {
  font-style: italic;
  font-size: 19px;
}
h3 {
  font-size: 40px;
}
ul {
  margin: 0 auto 50px auto;
  text-align: left;
  font-size: 30px;
  display: inline-block;
  
}
  li {
   word-break: break-all;
    margin: 20px 0;
  }
  #tribute-link {
    display: inline-block;
  }
  h4 {
    font-size: 20px;
  }