body {
    font-family: 'Lilita One', fantasy;
    background-color: lightgray;
}
p {
    margin-bottom: 5px;
}
fieldset {
    width: 30px;
    margin: auto;
    display: flex;
    border-radius: 40px;
    text-align: center;
    background-color: lavender;
}
legend {
    margin: auto;
}
input[type="number"]  {
    display: block;
    margin: auto;
    
}
#name-label {
    text-align: left;
}
#dropdown {
    display: block;
    margin: auto;
}
#checkboxes {
    font-family: null;
    text-align: left;
    display: grid;
    }
#submit {
    display: block;
    margin: auto;
    background-color: lightgoldenrodyellow;
    border-radius: 40px;
}
#submit:hover {
    background-color:darkgoldenrod;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
#description {
    text-transform: lowercase;
    font-size: 15px;
    line-height: 12px;
    word-break: initial;
}
